
@{
    ViewBag.Title = "ViewEntireProfitOrLoss";
}

<h2>Ukupan profit po svim valutama</h2>
<p>Stanje nakon obracuna je @ViewBag.Result za sve kriptovalute</p>
@Html.ActionLink("Profil", "MyProfile", "Home")